
main{

    background-image: linear-gradient( rgb(245, 13, 52), rgb(252, 150, 167), rgb(250, 201, 209));
}


.navbar-brand img{
    height: 50px;
}



.nav-link{
    color: turquoise !important;

}

.n-left{
    height: 400px;
    background-image: url(../Multimedia/fotos/cookies.jpg);
    background-size: cover;
    background-position: center;
}
.n-rigth{
    height: 400px;
    background-image: url(../Multimedia/fotos/budines.jpg);
    background-size: cover;
    background-position: center;
}

.n-center{
    height: 400px;
    background-image: url(../Multimedia/fotos/tortas.jpg);
    background-size: cover;
    background-position: center;
}

footer {
    color: hsl(174, 95%, 45%);
    height: auto;
    width: 100%;
    background-image: linear-gradient( rgb(245, 13, 52), rgb(252, 150, 167), rgb(250, 201, 209));
          

}


footer ul li {
    
    list-style: none;
    
}
footer a{
    
    text-decoration: none;
    font-size: 20px;
    color: turquoise;
    
    
}